.feed {
    flex: 0.8;
    overflow-y: scroll;
}

.feedHeader {
    background-color: rgb(252, 172, 147);
    position: sticky;
    top: 10px;
    z-index: 99;
}

/* .feed::-webkit-scrollbar {
    display: none;
} */
